.bounceInRight {
  animation-name: animate-bounceInRight;
  animation-duration: 1s;
}

@keyframes animate-bounceInRight {
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    transform: none;
  }
}

.fadeIn {
  animation-name: animate-fadeIn;
  animation-duration: 1s;
}

@keyframes animate-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bounceInLeft {
  animation-name: animate-bounceInLeft;
  animation-duration: 1s;
}

@keyframes animate-bounceInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  100% {
    transform: none;
  }
}

.fadeInMove {
  animation-name: animate-fadeInMove;
  animation-duration: 1s;
}

@keyframes animate-fadeInMove {
  0% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.backInUp {
  animation-name: animate-backInUp;
  animation-duration: 1s;
}
@keyframes animate-backInUp {
  0% {
    opacity: .7;
    transform: translateY(1200px) scale(.7);
  }

  80% {
    transform: translateY(0px) scale(.7);
  }

  100% {
    transform: scale(1);
  }
}

.zoomIn {
  opacity: 0;
  animation-name: animate-zoomIn;
  animation-fill-mode: forwards;
  // animation-duration: .5s;
}
@keyframes animate-zoomIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}