@font-face {
  font-family: 'Microsoft JhengHei Modify';
  unicode-range: U+7db0, U+78A7, U+7B75; /* ASCII (碧筵綰) */
  font-style: normal;
  font-weight: bold;
  src: local('Yu Gothic UI Bold'),
    local('MS Gothic');
}

@font-face {
  font-family: 'Microsoft JhengHei Modify';
  src: local('Microsoft JhengHei UI'),
    local('Microsoft JhengHei');
}

@font-face {
  font-family: 'Microsoft JhengHei';
  src: local('Microsoft JhengHei UI'),
    local('Microsoft JhengHei');
}
