@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Noto Sans TC", sans-serif;
  }
  h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
